        * {
            margin: 0px;
            padding: 0px;
            font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
            box-sizing: border-box;
        }
        
        @media only screen and (max-width: 980px) {
            .lead {
                margin-bottom: 7rem !important;
            }
        }
        
        @media only screen and (max-width: 645px) {
            .jumbotron {
                height: 100rem;
            }
        }
        
        @media only screen and (max-width: 770px) {
            .lead {
                margin-bottom: 12rem !important;
            }
        }
        
        @media only screen and (max-width: 520px) {
            .display-4 {
                display: flex;
                justify-content: center;
                font-size: 2rem;
                width: 100%;
                flex-flow: row;
            }
            .footer {
                width: 60%;
            }
            .jumbotron {
                width: 100%;
                height: auto !important;
            }
            .lead i {
                width: 1rem;
                height: auto;
            }
            .lead {
                margin: 50rem;
            }
            .tech {
                padding: 1rem;
                margin: 1rem;
                margin-top: 20rem;
                width: 80%;
                height: 100rem;
            }
            .margin-bottom-phone {
                margin-bottom: 50rem;
            }
            .margin-top-phone {
                margin-top: 50rem;
            }
        }
        
        header,
        body,
        .lead,
        article,
        footer {
            margin: 2rem;
            font-size: 1.5rem;
        }
        
        .display-4 {
            display: flex;
            justify-content: center;
        }
        
        body {
            background-color: rgba(115, 115, 145, 0.2);
        }
        
        .lead {
            margin-top: 5rem;
            height: 5rem;
            width: 100%;
        }
        
        .short-p {
            margin: 2rem;
        }
        
        .short-p,
        .lead {
            text-align: center;
        }
        
        .learn-more-section {
            display: hidden;
            text-align: center;
        }
        
        #dwnldCV:hover {
            background-color: royalblue;
            transition-delay: 50ms;
            transition-duration: 120ms;
        }
        
        #dwnldCV {
            display: flex;
            margin: 5rem 0 0 5rem;
            justify-content: flex-end;
            align-content: flex-end;
        }
        
        .card-body {
            justify-content: space-evenly;
            padding: 2rem;
            flex-flow: row;
        }
        
        .card-img-icon {
            justify-content: center;
            margin: 2rem 6rem 2rem 6rem;
        }
        
        .card {
            border-radius: 2rem;
            width: auto;
            height: auto;
            margin-top: 20px;
        }
        
        .colCard {
            margin-top: 20px;
        }
        
        .tech {
            display: flex;
            justify-content: center;
            width: 100%;
            height: auto;
            padding-top: 2rem;
            margin: 1rem;
        }
        
        .tech i {
            margin: .8rem;
            padding: .8rem;
            padding-left: 0;
            padding-right: 0;
            width: auto;
        }
        
        .jumbotron {
            color: seashell;
            margin: 1rem;
            width: auto;
            padding: 5rem;
            height: auto;
        }
        
        .project-cards {
            flex-flow: row;
            justify-content: space-around;
            padding: 2rem;
            margin: 1rem;
            width: 90%;
        }
        
        .social-icons i {
            margin: .6rem;
            padding: .6rem;
        }
        
        .social-icons {
            display: flex;
            justify-content: center;
            flex-direction: row;
            width: auto;
            height: 4rem;
            margin: 1rem;
        }
        
        .copyright-info {
            display: flex;
            font-size: 1.5rem;
            justify-content: center;
            align-content: center;
        }